.card {
  &__img {
    @apply w-full bg-gray-300;
    aspect-ratio: 1 / 1;
    border-radius: 30px;
    img {
      @apply w-full h-full;
      border-radius: 30px;
    }
  }
  &__body {
    @apply flex flex-col;
    gap: 10px;
    padding-top: 10px;
    h3 {
      font-size: 24px;
    }
    p {
      font-size: 16px;
      color: #525151;
    }
  }
}
